.loading {
    width:4rem;
    height:4rem;
    border-radius:50%;
    border-block:2px solid transparent;
    border-inline:2px solid #ddd;
    margin:1rem auto;
    animation:rotate 1s linear infinite;
}

@keyframes rotate {
    from{
        transform:rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg);
    }
}