* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;    
}

.title::first-letter{
    text-transform: uppercase;
}

body>.container {
    min-height: 100vh;
    display:grid;
    place-items:center;
    align-content: space-evenly;
    padding-top:1rem;
    gap:2rem;
}

li{
    list-style-type:none;
}

input {
    border:none;
    outline:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    border:none;
    background-color:unset;
}

p {
    line-height: 1.5;
}

b {
    font-weight:600;
    color:black;
}

.separator{
    display:flex;
    justify-content: space-between;    
}
