.search {
    position:relative;
    max-width:600px;
    width:100%;
    /* margin:auto; */
}

.search-dropdown {
    position:absolute;
    bottom:0;
    left:0;
    visibility:hidden;
    z-index:5;    
    backdrop-filter:blur(70px);
    border:1px solid #ddd;
    border-top-width:0px;
    border-radius:5px;
    width:100%;
    overflow:hidden;
}

.search-dropdown li{
    background-color:rgba(255,255,255,.5);
}

.search-dropdown li:hover{
    background-color:rgba(240,240,240,.5);
}

.search-dropdown.show {
    visibility:visible;
    transform:translateY(calc(100% + .3rem));
}

.search-dropdown .item {
    width:100%;
}

.search-dropdown .item .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:1rem;
    padding:.75rem 1rem;
}

/* .search-dropdown .icon .container */

.search-input-wrapper{
    border:1px solid #aaa;
    display:flex;
    align-items: center;
    padding-inline:1rem;
    gap:1rem;
    border-radius:.5rem;
}

.search-input-wrapper:has(input:focus){
    outline:1px solid #ccc;
}

.search-input-wrapper input{
    padding:1rem 0;
    flex-grow:1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#555;
    letter-spacing: 1px;
}

.search-dropdown .item *{
    letter-spacing:1px;
    font-size:.9rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-dropdown .item p{
    font-weight:400;
    color:#555;
}


.search-input-wrapper .right .icon{
    font-size:1.5rem;
    aspect-ratio:1;
    color:#ccc;
}